extends layout

block extraHeader
	link(rel='stylesheet', href='styles/codemirror.css')
	link(rel='stylesheet', href='styles/create-team.css')

block content
	#code-wrapper
		form.form-group
			input#team-name(class='form-control' type='text' placeholder="enter team name")
		#text-editor
		button#code-save-btn.btn.default-btn.btn-primary Save team


block scripts
	script(src='scripts/codemirror-4.4/lib/codemirror.js')
	script(src='scripts/codemirror-4.4/mode/javascript/javascript.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script.
		var AIFILE = !{JSON.stringify(file)}
	script(src='scripts/create-team.js')
