<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Drogue</title>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div>
		<div id="main-wrapper">
		
			<div id="game-wrapper">
				
				<div id="game-window" class="scale-font">
				<!-- <div class='tile'>something</div> -->
					<!-- jQuery appends here -->
				</div>
				<div id="HUD">
					<div id='hp'>
						<!-- HP updates here -->
						HP: 100
					</div>
					<div id='gold'>
						<!-- HP updates here -->
						gold: 0
					</div>
					<div>
						<br>
						=======
						<br><br>
						Inventory:
					</div>
					<div id='inventory'>
						<!-- inventory text goes here -->
					</div>
						<br>
						=======
						<br><br>
						Messages:
					<div id="messages">
						<!-- messages go here -->
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src= "http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.js"></script>
	<script type="text/javascript" src="pathfinding-browser.min.js"></script>
	<script src="main.js"></script>

	<script id="game-window-template" type="text/x-handlebars-template">
		<table id="game-table">
			<tbody> 
		    {{#map}}
		        <tr> 
		        	{{#this}}
	            	<td>
	            		<div class="tile {{class}}" id='{{columnCounter}}-{{rowCounter}}'>{{{text}}}</div>
            		</td> 
		            {{/this}}
		        </tr> 
	        {{/map}}
		    </tbody> 
		</table>
	</script>

</body>
</html>
