doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title AI Battle Tactics
		link(rel="stylesheet" type='text/css' href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" type='text/css' href="/styles/main.css")
		block extraHeader

	body
		//- a#log-in(href='') Log In
		nav.navbar-default(role="navigation")

			//- Brand and toggle get grouped for better mobile display
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/create-team") Create Team AI

			//- Collect the nav links, forms, and other content for toggling
			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav
					li
						a(href="/solo") Play Solo
					li
						a(href="/random-battle") Random Battle
					li
						a(href="#") Forum
					li
						//- a(href="#") Forum
					
					//- li.dropdown
					//- 	a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown 
					//- 		b.caret
					//- 	ul.dropdown-menu
					//- 		li
					//- 			a(href="#") Action
					//- 		li
					//- 			a(href="#") Another action
					//- 		li
					//- 			a(href="#") Something else here
					//- 		li
					//- 			a(href="#") Separated link
					//- 		li
					//- 			a(href="#") One more separated link
				//- form.navbar-form.navbar-left(role="search")
				//- 	.form-group
				//- 		input.form-control(type="text" placeholder="Search")
				//- 	button.btn.btn-default Submit
				ul.nav.navbar-nav.navbar-right
					li
						a(href="/instructions") Instructions
					//- li
					//- 	a(href="/create-team") Create Team AI
					//- li
					//- 	span#log-in-link Log In
						
					//- li.dropdown
					//- 	a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown 
					//- 		b.caret
					//- 		ul.dropdown-menu
					//- 			li
					//- 				a(href="#") Action
					//- 			li
					//- 				a(href="#") Another action
					//- 			li
					//- 				a(href="#") Something else here
					//- 			li
					//- 				a(href="#") Separated link
					//- 			li
					//- 				a(href="#") One more separated link  
	block content

	block scripts
		script(src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='scripts/oauth.min.js')
		script(type='text/javascript', src='scripts/pathfinding-browser.min.js')
		script(src='scripts/main.js')
		