.container
	.row
		#game-space.col-sm-8.col-sm-offset-2
			div
				#main-wrapper
						#game-wrapper
							#game-window.scale-font
								//<div class='tile'>something</div> 
								//jQuery appends here 
							#HUD
								#hp
									//HP updates here 
									| HP: 100
								#gold
									//HP updates here 
									| gold: 0
								div
									br
									| =======
									br
									br
									| Inventory:
								#inventory
									//inventory text goes here 
								br
								| =======
								br
								br
								| Messages:
								#messages
									//messages go here 
