#log-in{
	color: black;
}

body {
	margin: 1%;
	background: url('../assets/bg-grill-dark.png') repeat;
	/*background: url('../assets/PlanetCutePNG/WallBlock.png');*/

}
#game-wrapper {
	width: 100%;
	margin-top: 1%;
}

#main-wrapper{
	/*margin: 0 auto;*/
	/*float: none;
	display: block;*/
}

/*this is not working to center at all.*/
#game-window {
	float: left;
	/*text-align: center;*/
	/*vertical-align: middle;*/
	/*width: 100%;*/
	margin-right: 1%;

}

#game-table{
	margin: auto;
	float: none;
}

#HUD {
	padding: 1%;
	background-color: #eee;
	word-wrap: break-word;
	vertical-align: top;
	font-family: "Courier", serif;
	overflow: hidden;
}

#messages {
	max-height: 375px;
	background-color: #eee;
	color: black;
	overflow-y: scroll;
	margin-bottom: 1%;
}

table {
	background: black;
	color: #fff;
	table-layout: fixed;
	border-collapse: collapse;
}

td {
	text-align: center;
	border: 1px solid #555;
}

#dead {
	height: 100%;
	width: 1000px;
	color: red;
	font-size: 200px;
	padding-bottom: 100px;

}

#pvp-ai-popup{
	color: white;
	height: 50%;
	width: 50%;
	background-color: black;
	font-size: 50px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	padding: 1%;
	border-radius: 8px;
}

.tile {
	position: relative;
	/*overflow: hidden;*/
}

.rogue {
	/*color: #0066FF;*/
	background-color: #5CBF45;
	background-image: url('../assets/PlanetCutePNG/CharacterCatGirl.png');
	background-size: 103% 135%;
	background-repeat: no-repeat;
	background-position: 0% 100%;
}

.warrior{
	/*background-color: #5CBF45;*/
	background-image: url('../assets/PlanetCutePNG/CharacterBoy.png');
	background-size: 103% 135%;
	background-repeat: no-repeat;
	background-position: 0% 100%;
}

.priest{
	/*background-color: #5CBF45;*/
	background-image: url('../assets/PlanetCutePNG/CharacterPrincessGirl.png');
	background-size: 103% 135%;
	background-repeat: no-repeat;
	background-position: 0% 100%;
}

.team1 {
	background-color: #FF47D1;
}

.team2 {
	background-color: #19A3FF;
}

.gold {
	/*color: gold;*/
	background-color: #5CBF45;
	background-image: url('../assets/gold.gif');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*background-position: 0% 100%;*/
}

.wall {
	/*color: #777;*/
	background-color: #5CBF45;
	background-image: url('../assets/PlanetCutePNG/WallBlock.png');
	background-size: 100% 135%;
	background-repeat: no-repeat;
	background-position: -5% 100%;

}

.dot {
	/*color: #fff;*/
	background-image: url('../assets/PlanetCutePNG/GrassBlock.png');
	background-size: 100% 230%;
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.rat {
	/*color: #996600;*/
	background-color: #5CBF45;
	background-image: url('../assets/rat1.gif');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*background-position: 0% 0%;*/
}

.door {
	/*color: brown;*/
	background-color: #5CBF45;
	background-image: url('../assets/PlanetCutePNG/DoorTallClosed.png');
	background-size: 100% 135%;
	background-repeat: no-repeat;
	background-position: -5% 100%;
}

.downstairs {
	background-image: url('../assets/downstairs.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.upstairs {
	background-image: url('../assets/upstairs.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;

}

.kobold {
	background-image: url('../assets/kobold.gif');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #5CBF45;

}

.goblin {
	background-image: url('../assets/goblin.gif');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #5CBF45;

}

.text-popup {
	width: 5%;
	font-size: 1.4em;
	position: absolute;
	z-index: 2;
	background-color: black;
}

.close-popup {
	color: blue;
	background-color: white;
}

.hideTiles {
	background-color: #A0815F;
	color: #A0815F;
	background-image: none;
}

.dagger {
	position: absolute;
	z-index: 2;
	/*width: 30px;*/
	/*height: 30px;*/
}

.heal-cross{
	position: absolute;
	z-index: 2;
}